---
export const prerender = false
const cartId = Math.random().toString(36).substring(2, 9);
---

<cart-container class="cart-container" data-cart-id={cartId} >
    <h2 class="text-2xl md:text-3xl font-bold text-center mb-5 md:mb-8">Mi pedido</h2>
    <p class="text-primary-100/30 text-center font-black" id="emptyText">Nada que mostrar</p>
    <div class=" h-full max-h-[50dvh] overflow-y-auto mb-8" id={`cart-${cartId}`} data-role="cart-items" >
        
    </div>
    <div>
        <p class="font-bold text-lg sm:text-2xl mt-4 text-end mb-5" data-role-totalCart></p>
        <div class="flex justify-evenly gap-4 font-bold sm:text-xl *:w-[40%]">
            <a href="/preOrder" data-astro-reload class="bg-primary-100  text-bg-100 rounded-lg mt-4 h-14 w-[40%] hover:cursor-pointer hover:scale-105 active:scale-100 transition-all hover:shadow-md hover:shadow-primary-100 flex items-center justify-center" id="finalizarBtn">Finalizar compra</a>
            <button disabled class="bg-red-500 text-white rounded-lg mt-4 h-14 w-[30%] hover:cursor-pointer hover:scale-105 active:scale-100 transition-all hover:shadow-md hover:shadow-primary-100 disabled:bg-red-600/30 disabled:hover:scale-none disabled:hover:shadow-none" id="vaciarCartBtn">Vaciar carrito</button>

        </div>
    </div>

    
    <template id="cart-item-template">
        <div class="flex relative group rounded mb-4 gap-2 p-4 cart-item bg-linear-to-r from-bg-300 to-bg-200">
            <img class="aspect-square w-14 sm:w-24 rounded cart-item-img" src="" alt="" />
            <div class="cart-item-details flex-1 text-center overflow-hidden">
                <h3 class="truncate w-full cart-item-title font-bold mb-2 sm:text-xl"></h3>
                <div class="flex justify-evenly items-center text-sm">
                <span class="bg-primary-300/50 rounded-full py-0.5 px-1.5 sm:px-2 text-deep-green-950 cart-item-qty font-bold sm:text-lg"></span>
                
                <span class="total cart-item-total text-lg sm:text-xl"></span>
                </div>
            </div>
            <div class="absolute top-3 right-1"  >
                <button class="lg:opacity-0 lg:group-hover:opacity-100 transition-all duration-300 hover:cursor-pointer text-red-600/60">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-trash3 w-4 md:w-6 aspect-square" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </template>
</cart-container>
<script>
import { getCart, CART_EVENT_NAME, setCart, deleteCartItem } from "../../assets/cartStore";
  import { listaProductos } from "../../assets/exports";

  function initializeCart() {
    const self = document.querySelector('cart-container');
    if (!self) return;
    


    const container = self.querySelector("[data-role='cart-items']");
    const totalNode = self.querySelector("[data-role-totalCart]");
    const template = document.getElementById("cart-item-template") as HTMLTemplateElement;
    const vaciarBtn = self.querySelector('#vaciarCartBtn');
    const btnFinalizar = self.querySelector('#finalizarBtn')
    const emptyText = self.querySelector('#emptyText')

    function formatCLP(v: number): string {
        return new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(v);
    }

    function renderCart() {
        if (!container || !template || !totalNode) return;
        const cart = getCart(); // lee desde localStorage

        // limpiar
        container.innerHTML = "";
        totalNode.textContent = ''

        const clasesABorrar = [
            'bg-primary-100',
            'hover:cursor-pointer', 
            'hover:scale-105', 
            'active:scale-100',
            'hover:shadow-primary-100'
        ]
        if (cart.length){
            btnFinalizar?.removeAttribute('disabled')
            vaciarBtn?.removeAttribute('disabled')
            btnFinalizar?.classList.remove('bg-primary-100/50')
            btnFinalizar?.classList.remove('pointer-events-none')
            clasesABorrar.forEach((clase) => btnFinalizar?.classList.add(clase))
            emptyText?.classList.add('hidden')

        } else if (cart.length == 0) {
            btnFinalizar?.setAttribute("disabled", '')
            vaciarBtn?.setAttribute("disabled", '')
            emptyText?.classList.remove('hidden')
            clasesABorrar.forEach((clase) => btnFinalizar?.classList.remove(clase))
            btnFinalizar?.classList.add('bg-primary-100/50')
            btnFinalizar?.classList.add('pointer-events-none')
        }
        // render items
        cart.forEach(item => {
        const product = listaProductos.find(p => p.id === item.productId);
        if (!product) return;

        const clone = template.content.cloneNode(true) as HTMLTemplateElement;
        const id = Math.random().toString(36).substring(2, 9);
        const img = clone.querySelector(".cart-item-img") as HTMLImageElement;
        const title = clone.querySelector(".cart-item-title");
        const qty = clone.querySelector(".cart-item-qty");
        const total = clone.querySelector(".cart-item-total");
        clone?.firstElementChild?.setAttribute('data-id', id)

        if (img) { img.src = product.imageSrc || ""; img.alt = product.productName || ""; }
        if (title) title.textContent = product.productName || "";
        if (qty) qty.textContent = String(item.quantity);
        if (total) total.textContent = "Total: " + formatCLP((product.price || 0) * item.quantity);
        
        
        
        container.appendChild(clone);
        const newitem = container.querySelector(`[data-id="${id}"]`)
        const deleteItem = newitem?.querySelector('button')
        deleteItem?.addEventListener('click', ()=> deleteCartItem(product.id))
        });

        // actualizar total
        let cartLength = 0
        const pCartLength = self?.parentElement?.parentElement?.parentElement?.querySelector('#cartLength')
        
        const totalPrice = cart.reduce((acc, it) => {
            const p = listaProductos.find(x => x.id === it.productId);
            cartLength += it.quantity
            return acc + (p ? (p.price * it.quantity) : 0);
        }, 0);
        if (totalPrice > 0) {
            totalNode.textContent = "Total: " + formatCLP(totalPrice)
            
        }
        
        if (cartLength <= 0) pCartLength?.setAttribute('hidden', '')
        if (cartLength > 0 && pCartLength) pCartLength.textContent = cartLength.toString()
        window.dispatchEvent(new CustomEvent('update-cartLength', {detail: {
            cartLength
        }}))
    }

    // render inicial (reemplaza SSR si hay cart en localStorage)
    renderCart();

    // escucha evento global
    window.addEventListener(CART_EVENT_NAME, renderCart);

    // vaciar carrito (ejemplo)
    vaciarBtn?.addEventListener("click", () => setCart([]));

  }
  document.addEventListener("astro:after-swap", initializeCart);
  initializeCart();
</script>