---
import supportIcon from '../../assets/images/svg/Support.svg'
import deliveryIcon from '../../assets/images/svg/delivery.svg'
import warrantyIcon from '../../assets/images/svg/plus.svg'
---
<section class="container mx-auto p-8 rounded-lg mb-6">
    <div class="">
        <div class="text-accent-100/80 font-semibold mb-6 text-end">✨ Hecho a Mano · Calidad Premium · Envío Gratis en compras mayores a $30.000</div>
        <h1 class="text-3xl sm:text-4xl md:text-6xl font-bold mb-4 text-center">Textiles únicos hechos con amor</h1>
        <p class="text-text-200/80 sm:text-lg md:text-xl lg:text-2xl mb-4 text-center text-balance">Descubre nuestra colección de ropa artesanal, cojines decorativos, sábanas de polar suave y disfraces personalizados. Cada pieza es hecha a mano con materiales premium y diseños exclusivos para tu estilo de vida.</p>
        <div class="flex gap-3 mt-8 [&>a]:sm:text-lg [&>a]:lg:text-2xl">
            <a class="bg-accent-100 text-bg-100 py-2 px-4 rounded-md hover:bg-accent-200 transition-colors" href="/auraStore">Explorar colección</a>
            <a class="border border-accent-200 text-accent-100 py-2 px-4 rounded-md hover:bg-bg-200 transition-colors" href="/auraStore">Ver catálogo completo</a>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 my-8 [&>div]:min-h-[200px] sm:[&>div]:min-h-0 [&>div]:flex [&>div]:flex-col [&>div]:items-center [&>div]:gap-3 [&>div]:justify-center sm:[&>div]:justify-start [&>div]:bg-linear-to-r [&>div]:from-bg-200 [&>div]:to-bg-300/50 [&>div]:p-1 sm:[&>div]:p-4 [&>div]:rounded-md [&>div]:shadow [&>div]:border [&>div]:border-text-100/20">
            <div class="">
                <img src={supportIcon.src} class="w-10 h-10 text-accent-100">
                <div class="text-center text-balance md:text-lg lg:text-2xl">
                    <div class="font-bold">Hechos a Mano</div>
                    <div class="text-text-200 italic">Confeccionados con atención al detalle y pasión artesanal.</div>
                </div>
            </div>

            <div class="">
                <img src={warrantyIcon.src} class="w-10 h-10 text-accent-100">
                <div class="text-center text-balance md:text-lg lg:text-2xl">
                    <div class="font-bold">Materiales Premium</div>
                    <div class="text-text-200">Telas de alta calidad: Velvet, polar, algodón orgánico y más.</div>
                </div>
            </div>

            <div class="">
                <img src={deliveryIcon.src} class="w-10 h-10 text-accent-100">
                <div class="text-center text-balance md:text-lg lg:text-2xl">
                    <div class="font-bold">Envío Seguro</div>
                    <div class="text-text-200">Empaque cuidadoso y entrega en 5-7 días hábiles.</div>
                </div>
            </div>
        </div>
    </div>
</section>