---
import Vitrina from "../components/store/Vitrina.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tienda Aura Store"> 
    <div class="mx-auto">
        <Vitrina />
    </div>
</Layout>