---
import Hero from "../components/landing/Hero.astro";
import Suscripcion from "../components/landing/Suscripcion.astro";
import Vitrina from "../components/store/Vitrina.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="">
        <Hero />
        <h4 class="text-3xl sm:text-4xl md:text-6xl font-bold mb-4 ps-2 text-center">Productos Destacados</h4>
        <Vitrina top />
        <section>
            <Suscripcion />
        </section>

    </main>
</Layout>